<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />


</head>

<body>
  <div class="nav-bar-container">
    <nav class="nav-bar">
      <div class="home">
        <a href="/"><h2 id="logo">Wiss<span>Movie Recomendator</span></h2></a>
      </div>
      <div>
        <a href="/movie/mylist">My List</a>
      </div>
      <div class="loginIcon">
        {{#if user}}
        <h3 id="navBar-username">{{user.username}}</h3>
        <img class="loginIcon-user"
          src={{user.photoUrl}}
          alt="login-icon">
        <a href="/auth/logout">Logout</a>
        {{else}}
        <a href="/auth/logout">Logout</a>
        <a href="/auth/login">Login</a>
        <a href="/auth/signup">Signup</a>
        <img class="loginIcon"
          src="https://res.cloudinary.com/dexfqvxax/image/upload/v1574763513/sources/login_icon_jwepvv.svg"
          alt="login-icon">
        {{/if}}
      </div>
    </nav>
  </div>

  {{{body}}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/utils.js"></script>
  <script src="/javascripts/buttonsForm.js"></script>
  <script src="/javascripts/mainForm.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
<footer class="footer">
  <div class="footer-container">
    <h3 class="footer-info">Wiss aplication developed in IronHack by Javier and Héctor ❤️</h3>
  </div>
</footer>

</html>