<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />


</head>

<body>
  <div class="nav-bar-container">
    <nav class="nav-bar">
      <div class="home">
        <a href="/">
          <img class="imgLogo" src="https://res.cloudinary.com/dexfqvxax/image/upload/v1575016763/sources/Wiss_logo_wl_xuv6ch.png" alt="WISS-logo">
        </a>
      </div>
      <div>

      </div>
      <div class="loginIcon">
        <a href="/index">
        <img id="recom-img" src="https://res.cloudinary.com/dexfqvxax/image/upload/v1575034343/sources/icons%20now/yeka-bombilla-def_rrdme4.svg" alt="movie-recom">
        </a>
        {{#if user}}
        <h3 id="navBar-username" class="hover-negative">{{user.username}}</h3>
        <img class="loginIcon-user" src={{user.photoUrl}} alt="login-icon">
        <div id="pop-up-container" class="pop-container hidden">
          <div id="pop-up-user" class="pop-up">
            <a href="/movie/mylist" class="btn-nav btn-nav-hover">My List</a>
            <br>
            <a href="/auth/logout" class="btn-nav-logout btn-nav-hover">Logout</a>
          </div>
        </div>
        {{else}}
        <a href="/auth/login" class="nav-log hover-negative">Login</a>
        <a href="/auth/signup" class="nav-log hover-negative">Signup</a>
        <a href ="/auth/login"><img class="loginIcon"
          src="https://res.cloudinary.com/dexfqvxax/image/upload/v1574763513/sources/login_icon_jwepvv.svg"
          alt="login-icon"></a>
        {{/if}}
      </div>
    </nav>
  </div>

  {{{body}}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/utils.js"></script>
  <script src="/javascripts/btnMyList.js"></script>
  <script src="/javascripts/buttonsForm.js"></script>
  <script src="/javascripts/mainForm.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
<footer class="footer">
  <div class="footer-container">
    <h3 class="footer-info">Wiss aplication developed in IronHack by Javier and Héctor ❤️</h3>
  </div>
</footer>

</html>